.about {
    padding: 126px 92px 130px 78px;


    &__name {
        font-size: 76.5px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.05;
        letter-spacing: normal;
        text-align: left;
        color: #2c323d;
    }

    &__position {
        font-size: 34.5px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.1;
        letter-spacing: 3.45px;
        text-align: left;
        color: #363636;
    }

    &__info {
        padding: 96px 0 0 0;
    }

    &__title {
        font-size: 30.5px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.87;
        letter-spacing: 2.29px;
        text-align: left;
        color: #2c323d;

        position: relative;
        padding: 0 0 30px 0;
        margin-bottom: 30px;

        &:before{
            content:'';
            display: block;
            width: 60px;
            height: 4px;
            background-color:  #2c323d;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__text {
        p,a,span,li,ul,ol{
            font-size: 19px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.61;
            letter-spacing: normal;
            text-align: left;
            color: #555;
        }
    }
}