mixin about()
    .about
        .about__name Александр<br>Васильев
        .about__position WEB разработчик
            .about__info
                .about__title Обо мне
                .about__text 
                    p Я занимаюсь версткой сайтов и интеграцией ("натяжкой") верстки в систему управления контентом (CMS). Верстаю по макетам PS и Figma. В верстке использую нативный grid и flexbox.
                    p Понимаю связку домен-сервер-бд (сделать бэкап, развернуть, подключить и т.п.).
                    p Cтрессоустойчив, склонен к автоматизации процессов.

                    

            .about__info
                .about__title Инструменты
                .about__text 
                    ul
                        li Фронтенд (валидный, адаптивный): html, css, js(jquery)
                        li Сборщик - webpack
                        li HTML-препроцессор - pug
                        li CSS-препроцессор - Less,Scss
                        li БЭМ

            .about__info
                .about__title Опыт
                .about__text 
                    ul
                        li 150+ проектов
                        li 70+ проектов на github (приватные)


            
            .about__info
                .about__title Активности
                .about__text 
                    ul
                        li Профиль на profi.ru <a href="https://profi.ru/profile/VasilevAM18/">https://profi.ru/profile/VasilevAM18/</a>
                        li Профиль на habr (вопросы) <a href="https://qna.habr.com/user/amvasiljev">https://qna.habr.com/user/amvasiljev</a>

            .about__info
                .about__title Не делаю
                .about__text 
                    ul
                        li Дизайн - каждый должен заниматься своим делом и есть хорошие дизайнеры
                        li Все, что связано с 1С-Битрикс
                        li Все, что связано с WordPress
            .about__info
                .about__title Ключевые навыки
                .about__tags 
                    .about__tag CSS
                    .about__tag MySQL
                    .about__tag HTML5
                    .about__tag Adobe Photoshop
                    .about__tag JavaScript
                    .about__tag jQuery
                    .about__tag Слепая печать
                    .about__tag Кроссбраузерная верстка
                    .about__tag PageSpeed Insights
                    .about__tag Chrome Lighthouse
                    .about__tag Webpack
                    .about__tag Pug
                    .about__tag Less
                    .about__tag БЭМ
                    .about__tag fenom
                    .about__tag Figma
                    .about__tag MODx
                    .about__tag Scss
                    