// ---------- Главный файл стилей ---------- //

@import './utils/reset';
@import './utils/vars';
@import './utils/mixins';
@import './utils/fonts';
@import './utils/libs';


@import '../blocks/test/test';
@import '../blocks/breadcrumbs/breadcrumbs';
@import '../blocks/burger/burger';
@import '../blocks/button/button';
@import '../blocks/footer/footer';
@import '../blocks/form/form';
@import '../blocks/header/header';
@import '../blocks/logo/logo';
@import '../blocks/nav/nav';
@import '../blocks/popup/popup';
// @import '../blocks/section/section';
@import '../blocks/title/title';





* {
    color: black;
    font-family: 'Open Sans', sans-serif;
    min-height: 0;
    min-width: 0;
    font-size: 1.1rem;
}