

.button {
    display: flex;
    max-width: 315px;
    background-color: #9D1616;
    height: 50px;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;
    cursor: pointer;


   
}