.section {

    &_first {
        background-color: #2c323d;
    }

    &__inner {

        width: 100%;
        margin: 0 auto;
        height: 100%;

        &_first {

            display: flex;

            @media #{$m_320} {
                flex-direction: column-reverse;
            }
        }
    }


    &__box {

        &_left {
            display: flex;
            justify-content: flex-end;

            height: 100%;
            width: 30%;
            position: sticky;
            top: 0;
            @media #{$m_320} {
                width: 100%;
                justify-content: flex-start;
            }
        }

        &_right {
            display: flex;
            justify-content: flex-start;
            background-color: #fff;
            width: 70%;
            @media #{$m_320} {
                width: 100%;
            }
        }
    }
}