mixin contact()
    .contact
        .contact__image
            img.lazy(data-src= img + 'image.jpeg' alt='') 
        .contact__title Контакты
        .contact__box
            
            a(href="/").contact__link Телефон
                span +7 909 992 10 50

            a(href="/").contact__link Email
                span job@mosam.ru

            a(href="https://t.me/Vasilev_AM").contact__link Telegram
                span @Vasilev_AM

