.contact {
    height: 100%;

    padding: 126px 92px 108px 108px;

    @media #{$m_1200} {
        padding: 120px 50px;
    }
    @media #{$m_1024} {
        padding: 120px 50px;
    }
    @media #{$m_768} {
        padding: 100px 30px;
    }
    @media #{$m_320} {
        padding: 50px 20px;
    }


    &__image {
        width: 212px;
        height: 212px;
        border-radius: 50%;
        // -webkit-border-radius: 50%;
        // -moz-border-radius: 50%;
        // -ms-border-radius: 50%;
        // -o-border-radius: 50%;
        // background-color: #fff;
        margin-bottom: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img{
            height: 105%;
            width: 105%;
            object-fit: cover;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
}

        @media #{$m_768} {
            width: 150px;
            height: 150px;
        }
        @media #{$m_320} {
            height: 70px;
            width: 70px;
            margin-bottom: 20px;
        }
    }



    &__title {
        font-size: 30.5px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.87;
        letter-spacing: 2.29px;
        text-align: left;
        color: #fff;

        position: relative;
        padding: 0 0 30px 0;
        margin-bottom: 30px;

        @media #{$m_320} {
            font-size: 18px;
            margin-bottom: 20px;
            padding: 0 0 20px 0;
        }

        &:before {
            content: '';
            display: block;
            width: 60px;
            height: 4px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            @media #{$m_320} {
                height: 2px;
            }
        }
    }

    &__link {
        font-size: 23px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.61;
        letter-spacing: normal;

        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin-bottom: 34px;

        @media #{$m_320} {
            font-size: 18px;
            margin-bottom: 15px;
        }

        span {
            font-size: 19px;

            color: #fff;

            @media #{$m_320} {
                font-size: 16px;
            }
        }
    }


}