
include ../blocks/test/test
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/burger/burger
include ../blocks/button/button
include ../blocks/footer/footer
include ../blocks/form/form
include ../blocks/header/header
include ../blocks/logo/logo
include ../blocks/nav/nav
include ../blocks/popup/popup
//- include ../blocks/section/section
include ../blocks/title/title
include ../blocks/about/about
include ../blocks/contact/contact



block variables
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)

        include ../includes/styles


    body(class=pageClass)
        +header()
        block content
        +footer()
        //- +popup()

        include ../includes/scripts
